@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.btn{
    font-weight: 500;
    width: 100%;
    text-align: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    border-radius: 0.25rem;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    background-color: rgb(55 65 81 / var(--tw-bg-opacity));
    outline: 2px solid transparent;
    outline-offset: 2px;
    border: 1px solid rgb(55 65 81 / var(--tw-text-opacity));;
}

.btn:hover{
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    color: rgb(55 65 81 / var(--tw-text-opacity));
    
}